:root  > * {
  --md-typeset-a-color:                    #b5acfc !important;
  --md-primary-fg-color:                   #625182 !important;
  --md-primary-fg-color--dark:             #625182 !important;
  --md-accent-fg-color:                    #625182 !important;
}
.md-header__title {
	margin-left: 0 !important;
}
.md-footer-meta {
	display:none !important;
}
.md-footer__inner {
	padding:0 0 0 0 !important;
}
.center-icon {
	text-align:center !important;
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
}
.center-icon img {
	width:auto;
	height:100px;
}

*, html, :after, :before {
	transition: 0.1s !important;
}
h1 {
	font-weight: 700 !important;
}
html {
	font-weight: 500;
}
code {
	font-weight: 500;
}